---
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 2
---

<p>
Hiya! 👋 I'm a software engineer (and sometimes sysadmin) by training.
I also am an amateur baker, and sometimes have thoughts on public transport
and urban design as a frequent commuter but (very) infrequent motorist.
</p>

<p>
I volunteer at the <a href="https://transformativeworksorg">Organization for Transformative Works
(OTW)</a> as a senior software engineer and systems volunteer, and I work at Adobe, also as a software
engineer. <em>Any opinions on this blog, or elsewhere, are mine alone unless otherwise stated.</em>
</p>

<p>
You can find my public work (mostly in Ruby at the moment) <a href="https://github.com/brianjaustin">
on GitHub</a> or on <a href="https://gitlab.com/brianjaustin">GitLab</a>.
</p>

<p>
I do not have a presence on most social media platforms, but if you need to get in contact with me,
you can find me on <a href="https://www.linkedin.com/in/b-austin/">LinkedIn</a>.
</p>
